<!DOCTYPE html>
<html>
    <head>
        <title>Remote HMI</title>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript"src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="static/js/application.js"></script>
        <link rel="stylesheet"type="text/css"href="static/css/style.css">
    </head>
    <body>
        <div class="container"id="top">
            <img id="logo"src="../static/imgs/siemens_logo.png"/>
            <h2 class="title"> SIMATIC   HMI</h2>
            <h1>Water Tank Control Panel</h1>

        </div>
        <div class="container"id="content">
            <div id="log">
                <!-- /#log -->
            </div>
        </div>
        <footer>
            <p>  <a href="https://www.siemens.com">Siemens Automation</a></p>
            <p> Remote administration interface for Industrial Control Systems <p>
        </footer>
    </body>
</html>